.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    

    &__left {

    }

    &__amy {
        width: 300px;
        height: 300px;
        margin-bottom: 40px;
    }

    

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
        max-width: 343px;
        
    }

    &__description {
        color: $color-medium-brown;
    }

    &__heading {
        line-height: 30px;
    }



}

