// COLOR VARIABLES
$color-yellow: #FCB72B;

$font-mono: 'Space Mono',
sans-serif;
$font-lex: 'Lexend Deca',
sans-serif;

// BREAKPOINTS
$bp-tablet : 37.5em; //600
$bp-desktop : 62.5em; //1000





/// BASE
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {

    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;


}



body {
    font-family: $font-lex;
    font-size: 16px;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    
}