.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1.2fr repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 100px;

    @media only screen and (min-width: $bp-tablet) {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 3fr 2.3fr 2.8fr;
    }

    @media only screen and (min-width: $bp-desktop) {
        grid-template-columns: 2fr 1fr 1fr 2.4fr;
        grid-template-rows: 1.2fr 1fr;
        height: 391px;
    }

    &__text {
        color: #FFF;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1.5rem;
        font-size: 24px;
        font-weight: 700;
    }

    &__graphic-design {
        background-color: $color-galatic-blue;
        background-image: url(../assets/pattern-graphic-design.svg);
        grid-column: 1 / -1;
        padding: 10rem;
        background-size: 115px;

        @media only screen and (min-width: $bp-tablet) {
            grid-column: 1/2;
            grid-row: 1/3;
        }

    }

    &__ui-ux {
        background-color: $color-summer-yellow;
        background-image: url(../assets/pattern-ui-ux.svg);


    }

    &__apps {
        background-color: $color-pink;
        background-image: url(../assets/pattern-apps.svg);


    }

    &__illustrations {
        background-color: $color-light-red;
        grid-column: 1 / -1;
        background-image: url(../assets/pattern-illustrations.svg);

        @media only screen and (min-width: $bp-tablet) {
            grid-column: 2 / -1;
        }

        @media only screen and (min-width: $bp-desktop) {
            grid-row: 2/ -1;
            grid-column: 2 / 4;
        }


    }

    &__photography {
        background-color: $color-cyan;
        grid-column: 1 / -1;
        background-image: url(../assets/pattern-photography.svg);

        @media only screen and (min-width: $bp-tablet) {
            grid-column: 1/2;
            grid-row: 3/3;
        }

        @media only screen and (min-width: $bp-desktop) {
            grid-column: 4/-1;
            grid-row: 1/1;
        }

    }

    &__motion-graphics {
        background-color: $color-dark-purple;
        grid-column: 1 / -1;
        background-image: url(../assets/pattern-motion-graphics.svg);

        @media only screen and (min-width: $bp-tablet) {
            grid-column: 2/-1;
        }

        @media only screen and (min-width: $bp-desktop) {
            grid-column: 4/-1;
        }
    }
}

.grid-item {
    position: relative;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: top 20px right 20px;
}